<p> Welcome to your profile page, homie</p>
<% if @user == current_user %>
  <%= link_to 'My Bucket Lists!', user_bucket_lists_path(@user) %>
  <%= link_to "New Bucket List", new_bucket_list_path %>

<% end %>

<%= image_tag @user.picture.url %>

<%= render_activities(@activities) %>

<%= link_to "Browse all Users", users_path %>
