<% if @bucket_list %>
  <p>
    <strong><%=link_to 'Bucket List Your Viewing:', bucket_lists_path %></strong>
    <%= @bucket_list.title %>
  </p>

  <% @bucket_list.adventures.each do |adventure| %>
    <div class="adventure-box">
      <div class="adventure-box-inner">
        <p class="adventure-text">
          <%= adventure.adventure_description %>
        </p>
        
        <% if adventure.state == "incomplete" %>
          <%= simple_form_for [@bucket_list, adventure],
            html: { class: "adventure-box-form" } do |f| %>
            
            <%= f.file_field :picture %>
            <%= f.submit 'Finish adventure!' %>
          <% end %>
        <% else %>
        <div class="adventipic">
         <%= image_tag(adventure.picture.url) %>
        </div>
      <% end %> 
      </div> 
    </div>
  <% end %>

  <% unless @bucket_list.complete? %>
    <%= link_to 'Add item', new_bucket_list_adventure_path(@bucket_list) %>
  <% end %>
<% end %>


 <script>
//   function handleFileSelect(evt) {
//     var files = evt.target.files; // FileList object

//     // Loop through the FileList and render image files as thumbnails.
//     for (var i = 0, f; f = files[i]; i++) {

//       // Only process image files.
//       if (!f.type.match('image.*')) {
//         continue;
//       }

//       var reader = new FileReader();

//       // Closure to capture the file information.
//       reader.onload = (function(theFile) {
//         return function(e) {
//             $('#image_preview').append('<img src="' + e.target.result + '" class="thumbnail"/>')

//         };
//       })(f);

//       // Read in the image file as a data URL.
//       reader.readAsDataURL(f);
//     }
//   }

//   document.getElementById('adventure_picture').addEventListener('change', handleFileSelect, false);
// </script>

