<!DOCTYPE html>
<html>
  <head>
    <title>KickIt</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <%= link_to "KickIt", root_path, class: 'navbar-brand' %>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><a>Logged in as <strong><%= current_user.username %></strong></a></li>
            <li><%= link_to 'Browse Adventures', adventures_path %></li>
            <li><%= link_to 'Profile', current_user %></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>

          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

   


    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    
  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
